div.mainbody {
    border-radius: 0.625em;
    background-color: rgb(250,250,250);
    padding: 0.7375em;
    margin: 1.55em 29.25em;
    border: 0.0625em solid #c2c7d0;
    background: rgba(0,0,0,0.6);
    /* box-shadow: 0px 0px 50px cyan; */
}

h3{
	 margin: 0.625em;
	 padding-left: 0.625em;
	font-size: 1.875em;
	color: white;

}

.mistake1{
  width: 85%;
    padding: 0.3125em 2.5em 0.3125em 2.5em;
    margin-top: 1em;
    margin-bottom: 0.625em;
    margin-left: 1.5625em;
    border: 0.0625em solid #ccc;
    border-radius: 0.25em;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: 0.625em 0.3125em;
    background-image: url('../username.png');
    background-size: 1.375em;
    font-size: 0.9375em;  
}

.mistake2{
  width: 85%;
    padding: 0.3125em 2.5em 0.3125em 2.5em;
    margin-top: 0.9375em;
    margin-bottom: 0.625em;
    margin-left: 1.5625em;
    border: 0.0625em solid #ccc;
    border-radius: 0.25em;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: 0.625em 0.3125em;
    background-image: url('../username.png');
    background-size: 1.375em;
    font-size: 0.9375em;  
}


.mistake3{
  width: 85%;
    padding: 0.3125em 2.5em 0.3125em 2.5em;
    margin-top: 0.9375em;
    margin-bottom: 0.225em;
    margin-left: 1.5625em;
    border: 0.0625em solid #ccc;
    border-radius: 0.25em;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: 0.625em 0.3125em;
    background-image: url('../username.png');
    background-size: 1.375em;
    font-size: 0.9375em;  
} 



.mistake4{
 	width: 85%;
	padding: 0.3125em 2.5em 0.3125em 2.5em;
    margin-top: 0.0025em;
    margin-bottom: 0.225em;
    margin-left: 1.5625em;
    display: inline-block;
    border: 0.0625em solid #ccc;
    border-radius: 0.25em;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: 0.625em 0.3125em;
    background-image: url('../lock.png');
    background-size: 1.375em;
    font-size: 0.9375em;
 }

/*input[type=checkbox]{
	margin-left: 1.375em;
	margin-top: 0.625em;

}

.checkbox1{
	color: white;
	margin-left: 0.625em;
	margin-top: 0.625em;
}

.Forgot1{
	margin-left:  11.25em;
}*/

.mistake5{
	width: 38%;
	background-color: rgba(255, 102, 102, 0.8);
    color: black;
    padding: 0.625em 1.25em;
    margin-top: 0.3125em;
    margin-bottom: 0.3125em;
    margin-left: 10.225em;
    border: none;
    border-radius: 0.5625em;
    cursor: pointer;
}

.mistake5:hover {
    background-color: green;
    color: white;
}

.mistake6{
	margin-left: 2.1875em;
	width: 70%;
	background-color: rgb(192,192,192);
	color: black;
	margin-left: 4.995em;
}

.mistake7{
	margin-top: 1em;
	margin-left: 2.95em;
}

.mainheadline{
	padding-left: 18.625em;
	margin-top: 0.4375em;
	color: white;
}


body{
	background-image: url('../images/background4.jpeg');
}

